
*.csv

*.xml

*.iml

.idea/.name

*.pyc

*.h5

*.h5

*.h5

model_fold_1

*.h5

*.local

*.h5

model.h5

model.h5

*.meta

runs/1462571481/checkpoints/model-400

SanityCheck.py

runs/1462571481/checkpoints/model-500

runs/1462571481/checkpoints/model-300

runs/1462571481/checkpoints/model-200

runs/1462571481/checkpoints/checkpoint

runs/1462571481/checkpoints/model-600

*.txt

KerasExample.py

*.h5

GoogleNews-vectors-negative300.bin

data_helpers.py

Data.zip

train.py

model.h5

text_cnn.py

eval.py

cnn-text-classification-tf/

model.h5

model.h5

*.h5

*.hdf5

model.h5

*.p
